.grid-container{

    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    min-width: 10%;
    max-width: 100%;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows:20% 60% 10%;
    overflow: auto;
    margin: 40px;
    margin-left: 8em;
}

body{
    background-color:blue;
    position: relative;
    }

.box{
    position: relative;
    vertical-align: middle;
    background-color:white;
    text-align: center;
    border: 5px solid white;
}

.nav-bar{
    grid-column: 1/5;
    grid-row: 1/1;
    background-color:orange;
    padding-left: 17.5em;
    
}

.pic{
    grid-column: 1/5;
    grid-row: 2/2;
    background-color:white;
    border: 5px solid black;
    height: 90vh;
    padding-left: 10%;
    padding-top: 3%;
}


a {
    text-decoration: none;
  }
  
  ul {
    background:black;
      list-style: none;
      margin: 0;
  }
  
  li {
      color: #fff;
    background: black;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
      background:lightblue;
      cursor: pointer;
      box-shadow:inset blue 10px 10px 35px;
      color:black;
  }
  
  li:focus-within a {
    outline: none;
    color: blue;
  }
  
  ul li ul {
    position:absolute;
      background:white;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left:0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
      clear: both;
    width:100%;
    visibility:visible;
    padding:auto;
    left: -30%;
  }